{% extends "base.html" %}
{% load static %}
{% block content %}
<section>
  <div class="container">
    <div class="row margin-1 d-flex justify-content-center"">

      <div class="col-md-8 margin-1">
          <!-- <h5 class="title2">{{ cookie.title }}</h5>
          <p>{{ cookie.body | striptags | linebreaks }}</p> -->
  
        <h3><strong>Cookies</strong></h3>
  
        <p>We employ the use of cookies. By accessing ResearchConcern, you agreed to use cookies in agreement with the ResearchConcern's Privacy Policy. </p>
  
        <p>Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>
  
  
      </div>
    </div>
  </div>
</section>
{% endblock content %}


