{% extends "base.html" %} {% load static %} {% block content %}

<section class="hero">
  <div class="container hero col-xxl-8 px-4 py-5 mt-3">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="{% static 'img/heroimg.svg' %}"
          class="d-block mx-lg-auto img-fluid"
          alt="hero"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">A Song Lyrics Database</h1>
        <p class="lead">
          Publish your favorite Song's Lyrics as Tabs And Access A Repository Of
          Aggregated Lyrics by Other Users.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="{% url 'tab_index' %}" class="cta">View Tabs</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="feat">
  <div class="container">
    <div class="row mt-3">
      <!-- Feat img-->
      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="{% static 'img/doc1.svg' %}" alt="doc1" />
      </div>

      <!--Feat Text-->
      <div class="col-lg-6 mb-5 mb-lg-0 d-flex align-items-center">
        <div class="content">
          <h3>What to expect</h3>
          <ul class="">
            <li>
              <i class="fa fa-check-circle" aria-hidden="true"></i>Curated
              Lyrics
            </li>
            <li>
              <i class="fa fa-check-circle" aria-hidden="true"></i>Music Notes
            </li>
            <li>
              <i class="fa fa-check-circle" aria-hidden="true"></i>A Community
            </li>
            <li>
              <i class="fa fa-check-circle" aria-hidden="true"></i>Samples to
              work with
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
