{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
<section>
  <div class="container">
    <div class="row mt-3">
      <!-- SIDEBAR -->
    
    <div class="col-md-10 main-lg">
    <div class="d-flex justify-content-between align-items-center py-3 margin-2">
      <h4 class="title3">Search by keyword</h4>
      <a class="search-btn" href="{% url 'create_tab' %}">Add Tab</a>
    </div>
    <hr>
      <form class="search" action="" method="GET">
        <input type="text" class="search-input" placeholder="Enter keyword..." name="title__icontains" id="id_title__icontains" value="">
        <button type="submit" class="search-btn" name="button">Search</button>
      </form>
    
      <div class="main">

      {% include 'content/alist.html' %}

          <!-- PAGINATION -->
          <div class="d-flex justify-content-center align-items-center mt-3">
              <nav aria-label="...">
              {% if all_tabs.has_other_pages %}
                <ul class="pagination">
                    {% if all_tabs.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ all_tabs.previous_page_number }}">Previous</a></li></span></li>
                    {% else %}
                        <li class="page-item disabled"></li>
                    {% endif %}
    
                    {% for pages in all_tabs.paginator.page_range %}
                        {% if all_tabs.number == pages %}
                          <li class="page-item"><a class="page-link" href="#">{{pages}}</a></li></span></li>
                        {% else %}
                          <li class="page-item"><a class="page-link" href="?page={{pages}}">{{pages}}</a></li>
                        {% endif %}
                    {% endfor %}
    
                    {% if all_tabs.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ all_tabs.next_page_number }}">Next</a></li>
                    {% else %}
                      <li class="page-item disabled"></li>
                    {% endif %}
                </ul>
                {% endif %}
              </nav>
          </div>
    
  
    
        </div>
  
    
      
      </div>
    
      </div>
      </div>
      </div>
    
</section>
{% endblock content %}



<!-- TODO -->

<!-- Make tags work
<small>{{tab.tags}}</small> -->




